@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova');

html {
    font-size: 62.5%;
    font-family: 'proxima-nova', sans-serif;

    @media only screen and (max-width:64.375em) {
        font-size: 59.5%;
    }

    //    @media only screen and (max-width:44.31em) {
    //     font-size: 59.5%;
    // }
}

%removespace,
p {
    margin: 0;
}

.header-primary {
    @extend %removespace;
    font-size: 5.6rem;
    font-weight: 700;

    @media only screen and (max-width:64.375em) {
        font-size: 4.6rem;
    }

    @media only screen and (max-width:50em) {
        font-size: 4rem;
    }

    @media only screen and (max-width:44.31em) {
        font-size: 3.6rem;
        font-weight: 600;

    }
    @media only screen and (max-width:37.25em) {
        font-size: 3.125rem;

    }
}


.header-secondary {
    @extend %removespace;
    font-size: 3.2rem;
    font-weight: 600;

    @media only screen and (max-width:64.375em) {
        font-size: 2.8rem;
    }

    @media only screen and (max-width:44.31em) {
        font-size: 2.4rem;
    }
    @media only screen and (max-width:37.25em) {
        font-size: 2rem;

    }
}

.header-3 {
    @extend %removespace;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3.2rem;

    @media only screen and (max-width:44.31em) {
        font-size: 1.25rem;
        line-height: 2.8rem;

    }
    

    &--black {
        color: black;
    }

    &--grey {
        color: $text-color;
    }

    &--light {
        color: white;
    }
}

.smalldesc {
    @extend %removespace;
    font-size: 1rem;
    color: $text-color;

    &--light {
        color: white;
    }

    &--lt {
        line-height: 2rem;

        @media only screen and (max-width:44.31em) {
            line-height: 1.5rem;
        }

    }

    &--lt2 {
        line-height: 4rem;
        color: #9E9E9E;

        @media only screen and (max-width:44.31em) {
            line-height: 2rem;
        }

    }
}

.description {
    margin: 0;
    font-size: 2rem;
    line-height: 4rem;
    color: $text-color;

    @media only screen and (max-width:64.375em) {
        font-size: 1.75rem;
        line-height: 3.5rem;
    }

    @media only screen and (max-width:50em) {
        font-size: 1.35rem;
        line-height: 2.75rem;
    }

    @media only screen and (max-width:44.31em) {
        font-size: 1.25rem;
        line-height: 2.5rem;

    }
}

.xs-margin-bottom {
    margin-bottom: 1rem;
}
.sm-margin-bottom {
    margin-bottom: 2rem;
}

.md-margin-bottom {
    margin-bottom: 4rem;
}

.lg-margin-botton {
    margin-bottom: 8rem;
}

.lg-margin-top {
    margin-top: 14rem;
}