<header class="lg-margin-botton">
    <div class="header sm-margin-bottom">
        <a href="#" class="header_img">
            <img src="assets/img/LogoWeb2.png" class="header_img xs-margin-bottom"
                srcset="assets/img/LogoWeb2.png, assets/img/LogoWeb2@2x.png 2x" alt="Startup">
        </a>
        <nav class="nav">
            <ul class="nav_items1">
                <li>Home</li>
                <li>Features</li>
                <li>Integration</li>
                <li>pricing</li>
                <li>Customers</li>
                <li>login</li>
                <li><a href="#" class="nav_button">
                        <span class="nav_button--full">Add Listing</span>
                        <span class="nav_button--outline">Free</span>
                    </a></li>
            </ul>
        </nav>
    </div>
    <section class="header-section">
        <div class="header-section_content">
            <h1 class="header-primary sm-margin-bottom">
                Private <span class="header-section_word">Offices</span> And Workspaces
            </h1>
            <p class="description sm-margin-bottom">
                Grow your business in Hamilton with flexible offices and workspaces in a modern coworking
                environment
                built for small businesses and teams.
            </p>
            <div class="header-section_buttons md-margin-bottom">
                <a href="#" class="button-outline">Watch video</a>
                <a href="#" class="button-full">Book now</a>
            </div>
            <div class="header-section_nav md-margin-bottom">
                <ul class="nav_items2 header-section_child">
                    <li>PRIVATE OFFICE</li>
                    <li>Dedicated Desk</li>
                    <li>Shared Desk</li>
                </ul>
            </div>
        </div>
        <img class="header-section_image" srcset="assets/img/12938.png, assets/img/12938@2x.png 2x"
            src="assets/img/12938.png" alt="header-image">
    </section>
</header>

<main>
    <div class="container">
        <section class="feature lg-margin-botton">
            <app-section-headers [title]="'Featured Coworking Space'" [button]="true"></app-section-headers>
            <app-cards [cardType]="'type1'"></app-cards>
        </section>

        <section class="feature lg-margin-botton lg-margin-top">
            <app-section-headers [title]="'Enterprise Coworking™ Our Trademark Says It All'" [desc]="'Dui ligula interdum tortor, at pretium ligula quam ut est. Ut mollis nisi quis
                    magna hendrerit vulputate. Fusce sagittis rhoncus tortor.'"></app-section-headers>
            <div class="grid-container">

                <div class="feature_box">
                    <div class="feature_align">
                        <img class="feature_img"
                            srcset="assets/img/wifi-router.png, ../../assets/img/wifi-router@2x.png 2x"
                            src="assets/img/wifi-router.png" alt="">
                        <h3 class="header-3 header-3--black">
                            High Speed Wifi
                        </h3>
                    </div>
                    <p class="smalldesc smalldesc--lt">
                        Work from any corner on the entire floor without any interruption. Work from any corner on the
                        entire floor without any interruption
                    </p>
                </div>

                <div class="feature_coloredBox">
                    <div class="feature_align feature_align--colored">
                        <img class="feature_img feature_img--light"
                            srcset="assets/img/wifi-router.png, assets/img/wifi-router@2x.png 2x"
                            src="assets/img/wifi-router.png" alt="">
                        <h3 class="header-3 header-3--light">
                            High Speed Wifi
                        </h3>
                    </div>
                    <p class="smalldesc smalldesc--light smalldesc--lt">
                        Work from any corner on the entire floor without any interruption. Work from any corner on the
                        entire floor without any interruption
                    </p>
                </div>

                <div class="feature_box">
                    <div class="feature_align">
                        <img class="feature_img" srcset="assets/img/wifi-router.png, assets/img/wifi-router@2x.png 2x"
                            src="assets/img/wifi-router.png" alt="">
                        <h3 class="header-3 header-3--black">
                            High Speed Wifi
                        </h3>
                    </div>
                    <p class="smalldesc smalldesc--lt">
                        Work from any corner on the entire floor without any interruption. Work from any corner on the
                        entire floor without any interruption
                    </p>
                </div>
                <div class="feature_mainImg">
                    <img class="feature_mainImg_01"
                        srcset="assets/img/team-meeting-hand-shake.png, assets/img/team-meeting-hand-shake@2x.png 2x"
                        src="assets/img/team-meeting-hand-shake.png" alt="">
                </div>
            </div>
        </section>

        <section class="feature lg-margin-botton">
            <app-section-headers [title]="'Spaces Around The World'" [button]="true"></app-section-headers>
            <app-cards [cardType]="'type2'"></app-cards>
        </section>

        <section class="feature lg-margin-botton">
            <div class="feature_imgboxparent">
                <img class="feature_imgbox" srcset="assets/img/Image151.png, assets/img/Image151@2x.png 2x"
                    src="assets/img/Image151.png" alt="Trulli">
                <img src="assets/img/Play.svg" class="feature_imgbox_play" alt="">
            </div>
        </section>
    </div>


    <section class="feature-testimony lg-margin-botton">
        <div class="container">
            <div class="feature-testimony_grid">
                <img class="feature-testimony_mainimg" srcset="assets/img/Image28.png, assets/img/Image28@2x.png 2x"
                    src="assets/img/Image28.png" alt="">
                <h2 class="header-secondary">TESTIMONIALS</h2>
                <div class="feature-testimony_box">
                    <div class="feature-testimony_innergrid">
                        <h3 class="feature-testimony_innergridh3">Sahil Gupta</h3>
                        <img class="feature-testimony_innergrid_feedback" src="assets/img/Feedback.png" alt="">
                        <img class="feature-testimony_innergrid_img" src="assets/img/Image24.png"
                            srcset="assets/img/Image24.png, assets/img/Image24@2x.png 2x" alt="">
                        <p class="feature-testimony_innergrid_smalldesc">I pay a rent of Rs
                            27,000 every
                            month and while
                            it has been a good part of my salary, I am
                            excited now because I get rewarded as I can use my credit card! My credit score has improved
                            too
                        </p>
                        <img class="feature-testimony_innergrid_trust" src="assets/img/TrustMark.png"
                            srcset="assets/img/TrustMark.png, assets/img/TrustMark@2x.png 2x" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section class="feature lg-margin-botton">
            <app-section-headers [title]="'We\'re On Mission To Transfer The Workplace.'" [desc]="'Dui ligula interdum tortor, at pretium ligula quam ut est. Ut mollis nisi quis magna hendrerit
                    vulputate. Fusce sagittis rhoncus tortor.'"></app-section-headers>
            <div class="feature-grid-container">
                <app-cards [cardType]="'type3'" [color]="'none'"></app-cards>
                <app-cards [cardType]="'type3'" [color]="'colored'"></app-cards>
            </div>
        </section>

        <section class="feature lg-margin-botton">
            <app-section-headers [title]="'Your Satisfaction Is Our Priority!'" [button]="true"></app-section-headers>
            <app-cards [cardType]="'type1'"></app-cards>
        </section>

        <section class="feature lg-margin-botton lg-margin-top">
            <app-section-headers [title]="'News Update And Insights'" [button]="true"></app-section-headers>
            <div class="feature_flexbox sm-margin-bottom">
                <img class="feature_flexbox_img" src="assets/img/Image154.png"
                    srcset="assets/img/Image154.png, assets/img/Image154@2x.png 2x" alt="">
                <div class="feature_flexbox_content">
                    <h3 class="header-3 header-3--black md-margin-bottom">
                        The Future of Coworking: What We Learned in 2020
                    </h3>
                    <div class="smalldesc">
                        <p class="sm-margin-bottom">
                            Due to the effects of COVID-19, the global market for coworking spaces is expected to fall
                            by
                            12.9% from $9.27 billion in 2019 to $8.24 billion in 2020.
                        </p>
                        <p class="sm-margin-bottom">
                            The growth of the market is limited
                            by the tremendous increase in the number of employees working from home because of the
                            coronavirus lockdown. A recent report reveals that in March 2020, operators of coworking
                            spaces
                            saw a 50% decline in revenue.
                        </p>
                        <p class="sm-margin-bottom">
                            With no end in sight for the current global health crisis, does
                            this mean there’s no hope for coworking space operators and developers?
                        </p>
                        <p class="sm-margin-bottom">
                            Experts say no.
                            According to some, remote work isn’t going anywhere. Despite the massive hit the industry
                            has
                            taken, there is an upside stemming from the changing attitudes that will make coworking a
                            top
                            option for businesses in the future.
                        </p>
                    </div>
                </div>
            </div>
            <app-cards [cardType]="'type4'"></app-cards>
        </section>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="footer_grid">
            <div class="footer_col1">
                <img src="assets/img/LogoWeb2.png" class="footer_img xs-margin-bottom"
                    srcset="assets/img/LogoWeb2.png, assets/img/LogoWeb2@2x.png 2x" alt="">
                <p class="smalldesc smalldesc--lt2 sm-margin-bottom">
                    Coworking a Directory Listing xd Website Template. Its complete design systems for your real
                    estate or realtor project. Its build with Bootstrap framework.
                </p>
                <div class="footer-nav">
                    <ul class="footer-nav_items">
                        <li>1800 123 345 789</li>
                        <li> 3 Doris St,
                            North Sydney, NSW 2060</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="header-3 header-3--grey footer_margin">
                    Popular Search
                </h3>
                <div class="footer-nav">
                    <ul class="footer-nav_items">
                        <li>Search Spaces</li>
                        <li> Search by City</li>
                        <li>Top Rated Spaces</li>
                        <li>Coworking Map</li>
                        <li> Shared Office Space</li>
                        <li> Meeting Rooms</li>
                        <li> TEDx Host Spaces</li>
                    </ul>
                </div>
            </div>
            <div>
                <h3 class="header-3 header-3--grey footer_margin">
                    Type Coworking
                </h3>
                <div class="footer-nav">
                    <ul class="footer-nav_items">
                        <li>Coworking Space </li>
                        <li>Meeting Space in Chennai</li>
                        <li>Office Space in Chennai</li>

                    </ul>
                </div>
            </div>
            <div>
                <h3 class="header-3 header-3--grey footer_margin">
                    Company
                </h3>
                <div class="footer-nav">
                    <ul class="footer-nav_items">
                        <li>About us</li>
                        <li>Careers</li>

                    </ul>
                </div>
            </div>
            <div>
                <h3 class="header-3 header-3--grey footer_margin">
                    LOCATIONS
                </h3>
                <div class="footer-nav">
                    <ul class="footer-nav_items">
                        <li>Coworking Space in Chennai</li>
                        <li>Coworking Space in Chennai</li>
                        <li>Coworking Space in Chennai</li>
                        <li>Coworking Space in Chennai</li>
                        <li>Coworking Space in Chennai</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container footer_bottom_flex">
            <p class="smalldesc">© Yourlogo 2020. All rights reserved</p>
            <p class="smalldesc">Design by
                <span class="footer_author">Themadbrains Uiux Studio</span>
            </p>
        </div>
    </div>
</footer>